
.b{
    background-color:rgba(0, 0, 255, 0);
    border: none;
}
.b:hover{
    background-color: rgba(0, 0, 255, 0);
}
.no1{
    background-color: rgb(0, 183, 255);
    height: auto;
    width: 100%;
    padding-top: 150px;
}
.nn{
    margin: 80px;
}
.f{
    padding-bottom: 100px;
}
.aa{
    text-align: center;
    font-family: Arial black;
}
.bb{
    text-align: center;
    font-family: Arial narrow;
}
.aa1{
    text-align: center;
    font-family: Arial black;
    margin-top: 30px;
}
.bb1{
    text-align: center;
    font-family: Arial narrow;
}
.g{
  position: relative;
  bottom: 100px;
}
 main{
    width: 100%;
    height: 100%;
 }
.s{
    border: 1px solid white;
    margin: 20px;
    margin-top: 80px;
    position: relative;
    bottom: 100px;
}
.s:hover{
    background-color: rgba(159, 189, 214, 0.918);
    border: none;
}
.sec1{
    background-color: rgba(99, 112, 112, 0.096);
margin-top: 50px;
}
.dd{
    margin-top: 30px;
}
.tt{
    margin-top: 20px;
}
.ee{
    margin-top: 30px;
}
.car{
    margin-top: 40px;
}
.car1{
    width: 80%;
position: relative;
left: 60px;  
}
.aa{
    text-align: center;
    font-family: Arial black;
}
.bb{
    text-align: center;
    font-family: Arial narrow;
}
.t{
 background-color: white;
 position: relative;
    bottom: 70px;
}
.t:hover{
    background-color: rgb(0, 183, 255);
    border: 1px solid white;
}
.q{
    position: relative;
    bottom: 70px;
}
.l{
    border: none;
    padding: 5px;
    font-size: 20px;
    position: relative;
    left: -10px;
}
a{
    text-decoration: none;
    color: #000;
    padding: 0px;
}
.h{
    font-size: 120px;
   position: relative;
   left: 30px;
  
}
.d{
    font-size: 40px;
}
sup{
    position: absolute;
    top: 50px;
    left: -20px;
}
sub{
    position: relative;
    bottom: 20px;
    left: 20px;
}

.z{
    position: relative;
    left: 70px;
}
.z:hover{
    background-color: rgb(176, 216, 226);
}
.y{
text-align: center;
padding: 40px;
background-color: rgba(0, 255, 255, 0.068);
}
.o{
    border:1px initial rgba(0, 255, 255, 0.068);
    background-color: rgba(0, 255, 255, 0.055);
}
.y:hover{
background-color: aqua;
}
.o:hover{
   background-color: aqua; 
}
.m{
    border:2px solid rgba(128, 128, 128, 0.123);
    width: 100%;
}
.e{
    width: 80px;
    height: 80px;
    position: relative;
    left: 100px;
    margin: 10px;
}
.e:hover{
background-color: rgba(30, 184, 245, 0.425);
}
.n{
    text-align: center;
    padding: 10px;
}
.cc{
border: none;
}